/* Shared Tools */
* {
    margin: 0;
    padding: 0;
}

.primary-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: 0;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    margin-top: 24px;
}

main {
    max-width: 1170px;
    margin: 0 auto;
}

/* header Section */
.header-container {
    max-width: 1170px;
    margin: 50px auto;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 48px;
}

.logo h1 {
    font-size: 36px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    color: var(--Dark-02, #424247);
}

/* Header Section End */

/* Banner Section Start */
main {
    max-width: 1170px;
    margin: 0 auto;
}

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('./images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    border-radius: 10px;

}

.banner-text {
    text-align: center;
    padding-top: 100px;

}

.banner-text h1 {
    font-size: 64px;
    color: #FFF;
    font-weight: 800;
    margin-bottom: 30px;
}

.banner-text p {
    color: #FFF;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 50px;
}

.banner-input {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    background-color: rgba(250, 250, 250, 0.575);
    width: 780px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 10px;
}

.banner-input button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 174px;
    font-size: 15px;
    color: #FFF;
    padding: 15px 10px;
    margin-right: 3px;
    border: none;
    border-radius: 10px;
    background-color: #f35b04;

}

.banner-input select {
    width: 174px;
    font-size: 15px;
    padding: 15px 10px;
    margin-right: 3px;
    border: none;
    border-radius: 10px;
    color: #5A5A5D;

}

/* Banner Section End */

/* Popular Tour Section Start  */
.popular-tour-container {
    max-width: 1170px;
    margin: 80px auto;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
}
.popular-tour-text{
    width: 50%;
}

.popular-tour-text h1 {
    font-size: 40px;
    color: #131318;
    margin-bottom: 24px;
}

.popular-tour-text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    margin-bottom: 24px;
}

.popular-tour-text li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    margin-bottom: 24px;
    margin-left: 15px;
}

/* Popular Tour Section End  */

/* Destination Section Start */

.destination-text {
    width: 600px;
    margin: 0 auto;

}

.destination-text h1 {
    text-align: center;
    color: #131318;
    font-size: 40px;
    margin-bottom: 24px;
}

.destination-text p {
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    margin-bottom: 24px;
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 24px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 24px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 24px;
}

/* Destination Section End */


/* Choose Section Start */
.choose {
    margin-top: 50px;
}

.choose-text {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.choose-text h1 {
    font-size: 48px;
}

.choose-text p {
    font-size: 16px;
}

.choose-card {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card {
    width: 400px;
    padding: 10px;
    background: #e7e3e2;
    box-shadow: 3px 3px 3px slategrey;
    border-radius: 10px;
}

.card img {
    width: 100px;
    height: 100px;
    padding: 5px;
}

.card h1 {
    padding: 5px;
    color: #131318;
    font-size: 24px;
}

/* Choose Section End */

/* deals & discount section start */
.discount {
    max-width: 1170px;
    margin: 100px auto;
    
}
.discount > h1{
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}
.discount > p{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.discount-banner {
    background-image: url('./images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 30px;
}

.discount-card-1, .discount-card-3 {
    width: 500px;
    height: 300px;
    background-color: rgba(240, 248, 255, 0.473);
    padding: 35px;
    border-radius: 10px;
    float: right;
    margin-top: 80px;
    margin-right: 40px;
}
.discount-card-2 {
    width: 500px;
    height: 300px;
    background-color: rgba(240, 248, 255, 0.473);
    padding: 35px;
    border-radius: 10px;
    float: left;
    margin-top: 80px;
    margin-left: 40px;
}

.discount-card-addr{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.discount-card-addr p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 140px;
    margin: 10px ;
}
.discount-card-text h1 {
    font-size: 30px;
    margin: 10px ;

}
.discount-card-text h2{
    font-size: 25px;
    margin: 0 ;
    color: #FF5400;
}
.discount-card-text>p{
    font-size: 20px;
}
/* deals & discount section end */


/* Perfect Place Section Start */

.perfect-place {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.perfect-place h1 {
    font-size: 48px;
    padding-bottom: 20px;
}

.perfect-place p {
    font-size: 16px;
    padding-bottom: 20px;
}

.perfect-place li {
    margin-left: 20px;
}

/* Perfect Place Section End */


/* Newsletter Section Start */
.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px auto;
}

.newsletter-text {
    background-color: #ecf2f3;
    border-radius: 10px;
    padding: 40px;
}

.newsletter-text h1 {
    font-size: 48px;
    color: #424247;
}

.newsletter-text p {
    width: 300px;
    font-size: 16px;
    color: #424247;
    padding-top: 16px;
    margin-bottom: 16px;

}

.newsletter-input {
    width: 400px;
    margin: 0 auto;
}

.newsletter-input input {
    padding: 15px 20px;
    width: 350px;
    margin: 10px auto;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
}

.newsletter-input button {
    padding: 15px 20px;
    width: 400px;
    border-radius: 8px;
    border: 0;
    background: #FF5400;
    color: #FFF;
    font-size: 20px;
    margin: 24px auto;
}

.trabelsave h1 {
    font-size: 25px;
    color: #e7e3e2;
}

.trabelsave h3 {
    font-size: 18px;
    color: #e7e3e2;
}

.popular-tour-img {
    position: relative;
}

.popular-tour-img img {
    width: 100%;
}

.popular-tour-img .trabelsave {
    background-color: #ff3c00;
    width: 200px;
    text-align: center;
    padding: 16px;
    border-radius: 10px;
    position: absolute;
    left: 400px;
    bottom: 100px;
    transform: rotate(-30deg);
}

/* Newsletter Section End */

/* Main section end */



/* Footer Start */
.foot {
    margin: 0 auto;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding-top: 50px;
}

.foot .logo {
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

.foot p {
    width: 600px;
    margin: 0 auto;
}

.foot-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.foot-icon img {
    width: 30px;
    height: 30px;
}

.foot hr {
    width: 1000px;
    margin: 0 auto;
}

.copyright {
    text-align: center;
    padding: 50px;
}

/* Footer End */







/* Responsive For Mobile Device */
@media screen and (max-width: 600px) {

    /* footer section start */
    .foot .logo p{
        width: 400px;
    }
    .foot hr{
        width: 400px;
    }
    /* footer section end */

    /* Newsletter Section Start */
    .newsletter {
        flex-direction: column;
    }

    .popular-tour-img .trabelsave {
        background-color: #ff3c00;
        width: 200px;
        text-align: center;
        padding: 16px;
        border-radius: 10px;
        position: absolute;
        left: 300px;
        bottom: 100px;
        transform: rotate(-30deg);
    }

    /* Newsletter Section End */


    /* Perfect Place Section Start */
    .perfect-place {
        flex-direction: column;
    }

    .popular-tour-text {
        width: 500px;
        margin: 0 auto;
    }

    .popular-tour-img img {
        width: 100%;
    }

    /* Perfect Place Section End */

    /* deals & discount section start */
    .discount-card-text{
        width: 400px;
        margin: 0;
    }
    .discount h1,p{
        width: 400px;
        height: 100%;
        margin: 0 auto;
        padding: 3px;
    }

    
    .discount-card-1, .discount-card-3 {
        width: 400px;
        height: 300px;
        background-color: rgba(240, 248, 255, 0.473);
        padding: 35px;
        border-radius: 10px;
        margin-top: 80px;
        margin-right: 40px;
    }
    .discount-card-2 {
        width: 400px;
        height: 300px;
        background-color: rgba(240, 248, 255, 0.473);
        padding: 35px;
        border-radius: 10px;
        float: right;
        margin-top: 80px;
        margin-right: 40px;
    }



    /* deals & discount section end */

    /* Choose Section Start */
    .choose-text {
        width: 500px;
    }

    /* Choose Section End */


    /* Destination Section start */
    .destination-text {
        width: 500px;

    }

    .grid-1,
    .grid-2,
    .grid-3 {
        grid-template-columns: repeat(1, 1fr);

    }

    .grid-item img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }

    /* Destination Section End */


    /* Popular Tour Section Start  */
    .popular-tour-container {
        flex-direction: column;
    }

    /* Popular Tour Section End  */



    /* header & banner section start */
    .logo h1 {
        font-size: 30px;
        text-align: center;
    }

    .nav-bar {
        flex-direction: column;
        text-align: center;
    }

    .banner {
        width: 600px;
        height: 100%;
    }

    .banner-text h1 {
        width: 500px;
        margin: 10px auto;
        font-size: 30px;
    }

    .banner-text p {
        width: 400px;
        margin: 10px auto;
        font-size: 16px;

    }

    .banner-input {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: rgba(250, 250, 250, 0.575);
        width: 300px;
        margin: 0 auto;
        padding: 16px;
        border-radius: 10px;
    }

    /* header & banner section end */
}